<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- changes tab name to "Rails Bootstrap -->"
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap2" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap1" %>">
    <!-- reference application stylesheet; turbolinks checks if asset has been updated -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>    
  </head>
 
 <body>
 	<div class="container fluid">
	<!-- don't do anything formatting, just run site content -->
		<%= yield %>
	</div>
</body>